* {
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {
    /* mobile devices */
    body {
        margin: 10%;
        background-color: gainsboro;
        font-size: 75%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
    }

    body img{
        align: center;
        display: block;
        margin: auto;
    }

    body #content-wrap p {
        padding: 5px;
    }

    h1 {
        color: rgba(163,98,10,255);
        text-align: center;
        padding: 15px;
    }

    #page-container {
        position: relative;
        min-height: 100vh;
    }


    #footer {
        position: absolute;
        bottom: 0;
        margin-top: 12px;
        width: 100%;
        height: 7rem;
        background-color: gainsboro; 
        text-align: center; 
        padding: 5px 0px;
        font-size: 70%;
        color: black;
    }
    section p a {
        color: rgba(163,98,10,255);
    }

    footer img{
        width: 25px;
        height: 25px;
        display: inline;
    }
    .banner {
        background: url(../viciousCyclesProject/images/bwbikes.jpg);
        position: relative;
        height: 20vh;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 8%;
    }
    
    .logo img {
        width: 60vw;
        text-align: center;
        position: absolute;
        margin: 2% auto;
        background-color: white;
    }
    .navbar {
        text-align: center;
        background: white;
        height:min-content;
        font-size: 60%;
        
    }
    .navbar ul {
        
        list-style: none;
        color: black;
        text-align: left;
        padding: 2px;
        border: 2px solid black;
    }
    .navbar ul li {
        width: 100%;
        margin: 0px;
        padding: 1px;
        display: block;
        
    }
    .navbar ul li a {
        text-decoration: none;
        color: black;
    }
    .navbar ul li:hover {
        background-color: rgba(163,98,10,255);
        border-radius: 4%;
        padding: 2%;
        font-size: 12px;
        text-align: left;
      
    }
    .sub-menu-1 {
        display: none;
        padding: 1px;
    }
    .navbar ul li:hover .sub-menu-1 {
        display: block;
        position: absolute;
        background: none;
        margin-top: -65px;
        padding-bottom: 2px;
        margin-left: 95px;
        font-size: .75em;
    }
    .navbar ul li:hover .sub-menu-1 ul {
        display: block;
        margin: 0px;
    }
    .navbar ul li:hover .sub-menu-1 ul li {
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid black;
        background: gold;
        border-radius: 0;
        text-align: center;
        margin: 0 auto;
        
    }
    
    #content-wrap {
        width: 100%;
        margin: 0 auto;
        position: relative;
        text-align: justify;
        padding-bottom: 7rem;
     }
     #content-wrap figure img {
        float: left;
        padding: 15px;
        max-width: 400px;
     }
     
     #content-wrap section p {
        text-align: justify;
        padding-bottom: 5px;
     }
}

@media screen and (min-width: 481px) {
    /* For small tablet screens: */
    body {
        margin: 10%;
        background-color: gainsboro;
        font-size: 90%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: black;
    }
    
    header h1 {
        text-align: center;
        padding: 15px;
        color: rgba(163,98,10,255);
    }
    
    #page-container {
        position: relative;
        min-height: 100vh;
    }

    .banner {
        background: url(../viciousCyclesProject/images/bwbikes.jpg);
        position: relative;
        height: 18vh;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 5%; 
    }
    
    .logo img {
        width: 50vw;
        text-align: center;
        position: absolute;
        margin: 10% 10%;
        background-color: white;
        padding: 0;
    }
    .navbar {
        background: white;
        text-align: center;
        color: black;
        width: 70vw;
        display:inline-flex;
        padding: 0 0%;
        
        
    }
    
    .navbar ul {
        display: inline-flex;
        list-style: none;
        color: black;
        text-align: center;
        padding: 0 5%;
        
    }
    .navbar ul li {
        width: 14vw;
        margin: 0px;
        padding: 1px;
        text-align: center;
    }
    .navbar ul li a {
        padding-right: 5vw;
        text-decoration: none;
        color: black;
        text-align: center;

    }
    .navbar ul li:hover {
        background-color: rgba(163,98,10,255);
        border-radius: 5%;
        padding: 3%;
        font-size: 15px;
        text-align: center;
        height: min-content
    }
    .sub-menu-1 {
        display: none;
    }
    .navbar ul li:hover .sub-menu-1 {
        display: block;
        position: absolute;
        background: none;
        padding-bottom: 2px;
        margin-left: -80px;
        overflow: visible;
        font-size: .55em;
        height: min-content;
    }
    .navbar ul li:hover .sub-menu-1 ul {
        display: inline-block;
        margin: 5px;
    }
    .navbar ul li:hover .sub-menu-1 ul li {
        width: 40vw;
        padding: 1px;
        border-bottom: 1px solid black;
        background: gold;
        border-radius: 0;
        text-align: center;

    }
    
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 7rem;
        background-color: gainsboro; 
        text-align: center; 
        padding: 5px 0px;
        font-size: 70%;
    }
    section p a {
        color: rgba(163,98,10,255);
    }
    footer img{
        width: 25px;
        height: 25px;
        display: inline;
    }
    #content-wrap {
        width: 100%;
        margin: 0 auto;
        position: relative;
        text-align: justify;
        padding-bottom: 7rem;
     }
     #content-wrap figure img {
        float: left;
        padding: 15px;
        max-width: 400px;
     }
     
     #content-wrap section p {
        text-align: justify;
        padding-bottom: 5px;
     }
    }
@media screen and (min-width: 600px) {
        /* For large tablet screens: */
        body {
            margin: 10%;
            background-color: gainsboro;
            font-size: 90%;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: black;
        }
        
        header h1 {
            text-align: center;
            padding: 15px;
        }
        
        #page-container {
            position: relative;
            min-height: 100vh;
        }
    
        .banner {
            background: url(../viciousCyclesProject/images/bwbikes.jpg);
            position: relative;
            height: 22vh;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 5%; 
        }
        
        .logo img {
            width: 50vw;
            text-align: center;
            position: absolute;
            margin: 10vh 8vh;
            background-color: white;
            padding: 0;
        }
        .navbar {
            background: white;
            text-align: center;
            color: black;
            width: 70vw;
            display:inline-flex;
            
            
        }
        
        .navbar ul {
            display: inline-flex;
            list-style: none;
            color: black;
            text-align: center;
            overflow-wrap: normal;
            font-size: 2vh;
            
        }
        .navbar ul li {
            width: 13vw;
            margin: 0px;
            padding: 1px;
            text-align: center;
        }
        .navbar ul li a {
            
            text-decoration: none;
            color: black;
            text-align: center;
    
        }
        .navbar ul li:hover {
            background-color: rgba(163,98,10,255);
            border-radius: 5%;
            padding: .6vh;
            font-size: 1rem;
            text-align: center;
            height: min-content;
        }
        .sub-menu-1 {
            display: none;
        }
        .navbar ul li:hover .sub-menu-1 {
            display: block;
            position: absolute;
            background: none;
            margin-left: -3.5vw;
            overflow: visible;
            font-size: .8em;
        }
        .navbar ul li:hover .sub-menu-1 ul {
            display: inline-block;
            text-align: center;
        }
        .navbar ul li:hover .sub-menu-1 ul li {
            width: 27vw;
            padding: .25vw;
            border-bottom: 1px solid black;
            background: gold;
            border-radius: 0;
            text-align: center;
    
        }
        section p a {
            color: rgba(163,98,10,255);
        }
        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 7rem;
            background-color: gainsboro; 
            text-align: center; 
            padding: 5px 0px;
            font-size: 70%;
        }
    
        footer img{
            width: 25px;
            height: 25px;
            display: inline;
        }
        #content-wrap {
            width: 100%;
            margin: 0 auto;
            position: relative;
            text-align: justify;
            padding-bottom: 7rem;
         }
         #content-wrap figure img {
            float: left;
            padding: 15px;
            max-width: 400px;
         }
         
         #content-wrap section p {
            text-align: justify;
            padding-bottom: 5px;
         }
    }
@media screen and (min-width: 768px) {
/* For desktop screens: */
body {
    margin: 10%;
    background-color: gainsboro;
    font-size: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
   }

   header h1 {
       text-align: center;
       padding: 15px;
   }
   #page-container {
    position: relative;
    min-height: 100vh;
}

   .banner {
    background: url(../viciousCyclesProject/images/bwbikes.jpg);
    position: relative;
    height: 25vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3vw;
   }

.logo img {
   max-width: 400px;
   display: block;
   text-align: center;
   position: absolute;
   margin-top: 10vh;
   margin-left: 30vw;
   background-color: white;
}

.navbar {
    background: white;
    text-align: center;
    color: black;
    width: 70vw;
    display: inline-flex;
    
    
}
.navbar ul {
    display: inline-flex;
    list-style: none;
    color: black;
    text-align: center;
    overflow-wrap: normal;
    font-size: 3vh;
}
.navbar ul li {
    width: 13vw;
    margin: 0px;
    padding: 1px;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
}
.navbar ul li:hover {
    border-radius: 5px;
    background-color: rgba(163,98,10,255);
    padding: .7vh;
    font-size: 1rem;
    text-align: center;
    height: min-content;
}
.sub-menu-1 {
    display: none;
}
.navbar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: none;
    margin-left: -3.5vh;
    overflow: visible;
    font-size: .10em;
}
.navbar ul li:hover .sub-menu-1 ul {
    display: inline-block;
    text-align: center;
}
.navbar ul li:hover .sub-menu-1 ul li {
    width: 35vw;
    height: 3.4vh;
    padding: .25vw;
    border-bottom: 1px solid black;
    background: gold;
    border-radius: 0;
    text-align: center;

}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7.5rem;
    background-color: gainsboro; 
    text-align: center; 
    padding: 5px 0px;
    font-size: 70%;
}
section p a {
    color: rgba(163,98,10,255);
}
footer img{
    width: 25px;
    height: 25px;
    display: inline;
}
#content-wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: justify;
    padding-bottom: 7.5rem;
 }
 #content-wrap figure img {
    float: left;
    padding: 15px;
    max-width: 400px;
 }
 
 #content-wrap section p {
    text-align: justify;
    padding-bottom: 5px;
 }
}