* {
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {
    /* mobile devices */
    body {
        margin: 10%;
        background-color: tan;
        font-size: 75%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
    }

    body img{
        align: center;
        width: 120px;
        height 200px;
        display: block;
        margin: auto;
    }

    body #content-wrap p {
        padding: 5px;
    }

    h1 {
        color: black;
        text-align: center;
        padding: 15px;
    }

    #page-container {
        position: relative;
        min-height: 100vh;
    }

    #content-wrap {
        padding-bottom: 2.5rem;
    }

    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 7rem;
        background-color: white; 
        text-align: center; 
        padding: 5px 0px;
        font-size: 70%;
    }

    footer img{
        width: 25px;
        height: 25px;
        display: inline;
    }
    .banner {
        background: url(../viciousCyclesProject/images/bwbikes.jpg);
        position: relative;
        height: 40vh;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 10%;
        height: 30vh;
    }
    
    .logo img {
        width: 80%;
        text-align: center;
        position: absolute;
        margin: auto 10%;
        background-color: white;
    }
    
    nav {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }
    
    nav ul {
        background-color: white;
        width: 100%;
        height: 30%;
        margin-top: 50px;
        list-style: none;
        padding: 5px;
    }
    
    #content-wrap {
        width: 100%;
        margin: 0 auto;
        position: relative;
        text-align: justify;
        padding-bottom: 10px;
    }
    #content-wrap figure img {
        float: left;
        padding: 15px;
        max-width: 400px;
    }
    
    #content-wrap section p {
        text-align: justify;
    }

    
}
@media screen and (min-width: 481px) {
    /* tablet devices */
    body {
        margin: 10%;
        background-color: crimson;
        font-size: 85%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
    }

    body img{
        align: center;
        width: 240px;
        height 300px;
        display: block;
        margin: auto;
    }

    body #content-wrap p {
        padding: 5px;
    }

    h1 {
        color: goldenrod;
        text-align: center;
        padding: 15px;
    }

    #page-container {
        position: relative;
        min-height: 100vh;
    }

    #content-wrap {
        padding-bottom: 2.5rem;
    }

    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 7rem;
        background-color: white; 
        text-align: center; 
        padding: 5px 0px;
        font-size: 70%;
    }

    footer img{
        width: 25px;
        height: 25px;
        display: inline;
    }
    body {
        margin: 10%;
        background-color: gainsboro;
        font-size: 85%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: black;
    }
    
    header h1 {
        text-align: center;
        padding: 15px;
    }
    
    .banner {
        background: url(../viciousCyclesProject/images/bwbikes.jpg);
        position: relative;
        height: 40vh;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 10%;
        height: 30vh;
    }
    
    .logo img {
        width: 80%;
        text-align: center;
        position: absolute;
        margin: auto 10%;
        background-color: white;
        padding: 5px;
    }
    
    nav {
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
    }
    
    nav ul {
        background-color: white;
        width: 100%;
        height: 15%;
        margin-top: 10px;
        list-style: none;
        padding: 10px;
    }
    
    #content-wrap {
        width: 100%;
        margin: 0 auto;
        position: relative;
        text-align: justify;
        padding-bottom: 10px;
    }
    #content-wrap figure img {
        float: left;
        padding: 15px;
        max-width: 400px;
    }
    
    #content-wrap section p {
        text-align: justify;
    }
    
}
@media screen and (min-width: 768px) {
    /* Desktop */
    body {
        margin: 10%;
        background-color: cornflowerblue;
        font-size: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
    }

    body img{
        align: center;
        width: 320px;
        height 400px;
        display: block;
        margin: auto;
    }

    body #content-wrap p {
        padding: 5px;
        font-size: 12px;
    }

    h1 {
        color: goldenrod;
        text-align: center;
        padding: 15px;
    }

    #page-container {
        position: relative;
        min-height: 100vh;
    }

    #content-wrap {
        padding-bottom: 2.5rem;
    }

    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 8rem;
        background-color: white; 
        text-align: center; 
        padding: 5px 0px;
        font-size: 70%;
    }

    footer img{
        width: 25px;
        height: 25px;
        display: inline;
    }
    body {
        margin: 10%;
        background-color: gainsboro;
        font-size: 100%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: black;
       }
    
       header h1 {
           text-align: center;
           padding: 15px;
       }
    
       .banner {
        background: url(../viciousCyclesProject/images/bwbikes.jpg);
        position: relative;
        height: 40vh;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 8%;
       }
    
    .logo img {
       width: 60%;
       text-align: center;
       position: absolute;
       margin: auto 10%;
       background-color: white;
    }
    
    nav {
       width: 100%;
       padding: 10px 0;
       text-align: center;
    }
    
    nav ul {
       background: white;
       width: 100%;
       height: 30%;
       margin-top: 40px;
       list-style: none;
       border: 5px black;
    }
    
    nav ul li {
       display: inline-block;
       padding: 15px;
    }
    
    #content-wrap {
       width: 100%;
       margin: 0 auto;
       position: relative;
       text-align: justify;
       padding-bottom: 10px;
    }
    #content-wrap figure img {
       float: left;
       padding: 15px;
       max-width: 400px;
    }
    
    #content-wrap section p {
       text-align: justify;
       padding-bottom: 5px;
    }

    
}